<form action="/" method="post">

    <button type="submit" name="player_choice" value="rock"> rock </buttton>
    <button  class = "button_margin" type="submit" name="player_choice" value="paper">paper</buttton>
    <button class = "button_margin" type="submit" name="player_choice" value="scissors">scissors</button>

</form>
